# srcs/.env


backend/transcendence/transcendence/__pycache__/

backend/transcendence/dbconnect/__pycache__/

backend/transcendence/dbconnect/migrations/__pycache__/
frontend/app/package-lock.json
frontend/app/node-modules/
*.pyc

temp/
*.DS_Store
backend/files/backend/.DS_Store

media/profilepic/

backend/files/backend/api/migrations
backend/files/backend/chat/migrations
backend/files/backend/custom_auth/migrations
backend/files/backend/remote_game/migrations
backend/files/backend/users/migrations
backend/files/backend/tournament/migrations
backend/files/backend/user/migrations
backend/files/backend/users/migrations/
backend/files/static

