# srcs/.env

volumes

backend/transcendence/transcendence/__pycache__/

backend/transcendence/dbconnect/__pycache__/

backend/transcendence/dbconnect/migrations/__pycache__/
frontend/app/package-lock.json
