# Django
Django==4.2.7
# Postgre DB Adapter
psycopg2-binary==2.9.9
# Rest Framework
# djangorestframework==3.14.0
# Postgre DB Adapter
psycopg2==2.9.9
# CORS (maybe needed for Rest-API ??)
# django-cors-headers==4.3.1
# Channels (for Websockets)
channels==4.0.0
# Daphne webserver for Django Channels (for Websockets)
daphne==4.0.0
# http2 and tls Twisted extras to support http2 with daphne
# twisted[tls,http2]==23.10.0
# Timezone support
pytz==2023.3.post1
requests==2.27.1
social-auth-app-django==5.4.0

# Django image handling
Pillow==8.4.0

#debug toolbar
django-debug-toolbar