/* assets/styles/global.css */

html body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 100;
  font-style: normal;
  }

.card-size {
    min-width: px;
    max-width: 400px;
	background-color: #b5c7d3;
  }

.navbar {
    background-color: aqua;
}

.button-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.centered-headings {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center; /* Optional: Center the text within headings */
	height: 100vh;
	margin: 10vh;
  }