<!-- my_view.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My View</title>
</head>
<body>
    <h1>Title here</h1>
    {%load static%}
	{% load crispy_forms_tags %}
	{%block home%}
	<div class="container mt-4 bg-white p-3">
	<a class="btn btn-primary" href="{% url 'social:begin' 'github' %}"><i class="fab fa-github"></i>&nbsp;Login</a>
	<a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}"> <i class="fab fa-google"></i>&nbsp;Login</a>
	</div>
	{%endblock%}
</body>
</html>
